div
{
    margin: -1px;
    background-color: #000FFF;
    width: 25px;
    height: 25px;
}
form
{
    display:inline-block;
}
table
{
    margin: 10px;
}
.selected
{
    !important;
    background-color: #FFF000;
}